body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
  }
  #calculator {
    border: 10px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(227, 9, 9, 0.888);
  }
  input, button {
    font-size: 18px;
    margin: 5px;
    padding: 10px;
    width: 50px;
  }
  #display{
    padding-left: 70%;
  }